<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Create Task</title>
</head>
<body>
    <h1>Cria uma nova tarefa</h1>
    <form th:action="@{/tasks}" th:object="${task}" method="post">
        <div>
            <label for="title">Título:</label>
            <input type="text" id="title" th:field="*{title}" required />
        </div>
        <div>
            <label for="description">Descrição:</label>
            <textarea id="description" th:field="*{description}" required></textarea>
        </div>
        <div>
            <label for="completed">Completado:</label>
            <input type="checkbox" id="completed" th:field="*{completed}" />
        </div>
        <div>
            <label for="dueDate">Data (dd/MM/yyyy):</label>
            <input type="date" id="dueDate" th:field="*{dueDate}" placeholder="dd/MM/yyyy" required />
        </div>
        <div>
            <button type="submit">Criar Tarefa</button>
        </div>
    </form>
    <a th:href="@{/tasks}">Voltar para lista de tarefas</a>
</body>
</html>
